# Ignore __pycache__ directories globally
__pycache__/

# Ignore specific directories or files
/assets

morph-and-split-key.json
morph-and-split-toolset-key.json
morph-and-split-toolkit-key.json
practice.ipynb

